<%- include("partials/header"); %>

<body style="background-color:	#fffff;">
  <div class="container">
    <div class="card col-lg-2.7 change-pos">
      <a class="btn btn-dark btn-md" href="/compose" role="button">Create</a>
      <a class="btn btn-dark btn-md" href="/logout" role="button">Logout</a>
    </div>

    <section class="white-section">

      <div class="row">

        <div class="blog-column col-lg-4 col-md-6">
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrjYV1GRaolsO3ns_vrORixrILbTDyHZYDww&usqp=CAU" class="card-img-top" alt="...">

            <div class="card-body">
              <p>Programming is the most sought-after skill today. According to Indeed, “Software Engineer” is the top in-demand position in the industry.All the best for your journey of learning! </p>
              <a href="/field/Programming" class="btn btn-primary">Programming</a>
            </div>
          </div>
        </div>

        <div class="blog-column col-lg-4 col-md-6">
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJsQaVcg3BiHvqlHpWjXaD3ctKr7ZGx-mjAA&usqp=CAU" class="card-img-top" alt="...">

            <div class="card-body">
              <p> In the past decade, machine learning has given us self-driving cars, practical speech recognition, effective web search, and a vastly improved understanding of the human genome. </p>
              <a href="/field/Machine_Learning" class="btn btn-primary">Machine Learning</a>
            </div>
          </div>
        </div>

        <div class="blog-column col-lg-4 col-md-6">
          <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4S16kaJ8iCjLW28C9CIigybKHjdIYsSz6Gw&usqp=CAU" class="card-img-top" alt="...">

            <div class="card-body">
              <p>Cloud computing has become an integral part of the IT infrastructure for many companies worldwide. Industry analysts report that the cloud computing industry has grown swiftly over recent years.</p>
              <a href="/field/Cloud_Computuing" class="btn btn-primary">Cloud Computuing</a>
            </div>
          </div>
        </div>

      </div>
    </section>


  </div>

  <%- include("partials/footer"); %>
