<%- include('partials/header') %>

<body style="background-color:#fffff;">
  <div class="container-fluid  ">
    <h1 class="login-align">Create Account</h1>
<div class="login-align">
  <a class="btn btn-dark btn-lg" href="/register" role="button">SignUp</a>
  <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

</div>


    <%- include('partials/footer') %>
